.display-none {
    display: none;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.wrap {
    background-color: rgba(250,250,250);
}

@media (min-width: 768px) {
    .navbar-default {
        border-color: transparent;
        background-color: rgba(250,250,250,0.8);
    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

@media (min-width: 970px) {
    .container {
        width: 970px;
    }
    .row-posts,
    .post-with-comments {
        float: left;
        width: 700px;
    }
    .right-row {
        float: right;
        width: 220px;
    }
    .right-field-posts {
        float: right;
        width: 220px;
        box-shadow: 0 0 1px rgba(0,0,0,0.1);
        background-color: rgba(255,255,255);
        margin-bottom: 20px;
    }
}

@media (max-width: 970px) {
    .right-row {
        display: none;
    }
}

.row-posts .post {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255);
}

.post-with-comments .post {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255);
}

.post .post-title,
.post .post-description,
.post .post-bottom {
    margin-left: 5px;
}

.post .post-title a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.post .post-image img {
    max-height: 100%;
    max-width: 100%;
}

.post .post-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.info-block {
    margin-left: 5px;
    margin-bottom: 2px;
    font-size: 13px;
}

.info-block .author-name,
.info-block .author-image {
    display: inline-block;
}

.info-block .author-image {
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 0px 0px;
}

.info-block .info-author,
.info-block .info-likes,
.info-block .info-comments,
.info-block .comment-reply,
/*.info-block .info-block-right,*/
/*.info-block .post-report, */
.info-block .info-date {
    display: inline-block;
    margin-right: 10px;
}

.info-block .info-block-right {
    float: right;
}

.info-block .info-likes .button-like,
.info-block .info-author .author-name a,
.info-block .info-comments a {
    color: #000;
    text-decoration: none;
}

.page-profile .profile-picture img {
    max-height: 100%;
    max-width: 100%;
    max-height: 200px;
}

.post-form .picture-input {
    display: none;
}

.post-form .postform-text-content {
    height: 200px;
}

.post-form .thumb {
    height: 75px;
    margin: 5px 5px 5px 5px;
}

.post-form .thumb-list {
    display: inline;
}

.comment-form {
    margin-bottom: 40px;
}

/*.comment-form [contentEditable=true]:empty:not(:focus):before{
    content:attr(data-placeholder);
}*/

.comment-form .comment-form__content:empty:not(:focus):before{
    content:attr(data-placeholder);
}

.comment-form .comment-form__content img{
    display: block;
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
    margin-right: 5px;
}

.comment-form .picture-input {
    display: none;
}

.comment-form .comment-form__content {
    width: 100%;
    min-height: 60px;
    height: 100%;
    margin-bottom: 1px;
    padding-bottom: 30px;
}

.comment-form .help-block {
    margin: 0px 0px 0px 0px;
    color: red;
}

.comment {
    margin-bottom: 30px;
}

.comment .btn-reply {
    color: #000;
    text-decoration: none;
}

.comment .comment-content {
    margin: 0px 0px 0px 14px;
}

.comment-content img {
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
    display: block;
}