.display-none {
    display: none;
}

.wrap {
    background-color: rgba(250,250,250);
}

@media (min-width: 768px) {
    .navbar-default {
        border-color: transparent;
        background-color: rgba(250,250,250,0.8);
    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

@media (min-width: 970px) {
    .container {
        width: 970px;
    }
    .row-posts {
        float: left;
        width: 700px;
    }
    .right-row-posts {
        float: right;
        width: 220px;
    }
    .right-field-posts {
        float: right;
        width: 220px;
        box-shadow: 0 0 1px rgba(0,0,0,0.1);
        background-color: rgba(255,255,255);
        margin-bottom: 20px;
    }
}

@media (max-width: 970px) {
    .right-row-posts {
        display: none;
    }
}

.post {
    padding-top: 10px;
    margin-bottom: 50px;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255);
}

.page-posts .author-name,
.page-posts .author-image {
    display: inline-block;
}

.page-posts .author-image {
    display: inline-block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 0px 2px 10px 0px;
}

.page-posts .post-likes,
.page-posts .post-comments,
.page-posts .post-date,
.page-posts .post-report,
.page-posts .post-bottom-right,
.page-posts .post-meta {
    display: inline-block;
    margin-right: 10px;
}

.page-posts .post-title,
.page-posts .post-description,
.page-posts .post-bottom {
    margin-left: 5px;
}

.page-posts .post-date {
    font-size: 12px;
}

.page-posts .post-bottom-right {
    float: right;
}

.page-posts .post-type-image img,
.page-profile .profile-picture img {
    max-height: 100%;
    max-width: 100%;
}

.page-profile .profile-picture img{
    max-height: 200px;
}

.page-posts .post-likes .button-like,
.page-posts .post-meta .author-name a {
    color: #000;
    text-decoration: none;
}

.page-posts .post-title {
    font-size: 13pt;
}

.field-postform-description .text-content {
    height: 200px;
}