.page-posts .author-name,
.page-posts .author-image {
    display: inline-block;
}

.page-posts .author-image {
    display: inline-block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 0px 10px 10px 0px;
}

.page-posts .post-likes,
.page-posts .post-comments,
.page-posts .post-date,
.page-posts .post-report,
.page-posts .post-bottom-right {
    display: inline-block;
}

.page-posts .post-date {
    font-size: 11px;
    font-weight: bold;
}

.page-posts .post-bottom-right {
    float: right;
}